.card {
    padding-bottom: 30px;
    margin-right: 25px;
    background-color: #0EA5E9;
    border-radius: 14px;
    border: 5px solid #57534E;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.img {
    height: 150px;
    width: 150px;
    padding: 100px;
    filter: contrast(400%);
   
}
.imgDiv {
    margin: 0;
    border-radius: 2px;
}

.btnRed {
    padding: 20px;
    margin-right: 16px;
    background-color: red;
    border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px 2px rgba(61, 61, 61, 0.8);
}

.btnBlue {
    padding: 20px;
    margin-right: 16px;
    background-color: aqua;
    border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px 2px rgba(61, 61, 61, 0.8);
}


.btnGreen {
    padding: 20px;
    background-color: greenyellow;
    border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px 2px rgba(61, 61, 61, 0.8);
}



button:active {
   transform: scale(0.94);
}

.carName {
    text-align: left;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}